

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.descuentate-header {
    background : #101010;
}


.svg-icon-ripley_com {
    height: 40px;
    width: 40px;
    vertical-align: middle;
    fill: #fff;
}

.navbar-header{
    height: 15px;
}











